<h2>{{#str}}settings:header, local_default_filters{{/str}}</h2>
<div>{{#str}}settings:description, local_default_filters{{/str}}</div>
{{#form}}
  {{{form}}}
{{/form}}
{{#select}}
  {{{select}}}
{{/select}}