<div class="la-dashboard-tabs">
{{{navtabs}}}
</div>
<h2>{{{ heading }}}</h2>
<div class="la-dashboard-container">
    <div class="la-dashboard-debug">{{{ debug }}}</div>
    <span class="la-dashboard-record-count rb-record-count">{{ recordsShown }}</span>
    <div class="la-dashboard-search">{{{ search }}}</div>
    <div class="la-dashboard-report-table">{{{ table }}}</div>
</div>