<div class="form-empty">
    <input type="hidden" name="{{name}}" id="{{id}}" value=""> <!-- needed for submission to work properly -->
</div>
<div class="default-rb-filters">
    {{{filters_html}}}
</div>
