.block.block_awesome .awesome-block.template-4 {
    text-align: center;
    background-color: transparent;
    a img {
        width: auto;
    }
    a.awesome-link {
        text-align: center;
        display: block;
        margin-top: 15px;
    }
}