<div>
    <div class="score">{{score}}</div>
    <div class="rank">{{rank}}</div>
    {{#leaderboardurl}}
    <div class="leaderboard"><a href="{{leaderboardurl}}">{{#str}}leaderboard, block_leaderboard{{/str}}</a></div>
    {{/leaderboardurl}}
</div>