<div class="tf_element_input">{{> totara_form/validation_errors}}<input type="text" autocomplete="off" id="{{id}}" {{#frozen}}disabled data-{{/frozen}}name="{{name}}" value="{{rvalue}}"
    {{#required}}required{{/required}} {{#size}}size="{{.}}"{{/size}} {{#maxlength}}maxlength="{{.}}"{{/maxlength}}
    {{#placeholder}}placeholder="{{.}}"{{/placeholder}}
/></div>
