<div class="popover-region collapsed popover-region-helplink">
    <div class="popover-region-toggle display-helplink">
        <a href="{{help_url}}" class="nav-helplink" target="_blank">
            <span aria-hidden="true" data-flex-icon="fa-question-circle" class="flex-icon ft-fw ft fa-question-circle"
                        title="{{help_text}}"></span>
            <span aria-hidden="true" data-flex-icon="fa-info-circle" class="flex-icon ft-fw ft fa-info-circle"
                        title="{{help_text}}"></span>
            <span>{{help_text}}</span>
        </a>
    </div>
</div>