@import "../../scss/_global_variables";

@mixin headerMessages(
    $displayMessages,
    $iconColour,
    $countBackgroundColour,
    $countColour
) {
    @if ($displayMessages == false) {
        .totaraNav_prim--side .totaraNav_prim--side__separator,
        .popover-region-messages {
            display: none;
        }
    }
    .popover-region-messages {
        .popover-region-toggle {
            .ft-fw:before {
                color: $iconColour;
            }
            .count-container {
                background-color: $countBackgroundColour;
                color: $countColour;
            }
        }
    }
}

@include headerMessages(
        $displayMessages: $resolvedHeaderMessagesShow,
        $iconColour: $headerMessagesIconColour,
        $countBackgroundColour: $headerMessagesCountBackgroundColour,
        $countColour: $headerMessagesCountColour
)


