@if ($resolvedHeaderNotificationsShow == "false") {
   .popover-region-notifications {
       display: none;
   }
}

.popover-region-notifications {
    .flex-icon {
        color: $headerNotificationsIconColour;
    }
    .popover-region-toggle {
      .count-container {
        background-color: $headerNotificationsCountBackgroundColour;
        color: $headerNotificationsCountColour;
      }
    }
}