$isotopeFiltersMargin: 0 0 10px 0;
$isotopeFiltersLabelMargin: 0 0 10px 0;
$isotopeFiltersLabelFontWeight: $bold;

.block_isotope .content {
    overflow: hidden;
    tr.item {
        &.collapsed {
            display: none;
        }
    }
}

.isotope.container {
    width: 100%;
    padding: 0;
}

nav.isotope.filters {
    margin: $isotopeFiltersMargin;
}

.isotope.filters {
    > div:first-of-type > span:first-of-type,
    > span:first-of-type {
        display: block;
        width: 100%;
        margin: $isotopeFiltersLabelMargin;
        font-weight: $isotopeFiltersLabelFontWeight;
    }
}
.programs {
    span,
    .courseset > p {
        font-weight: bold;
        margin: 10px 0;
    }
    &.progfilters,
    &.coursesetfilters {
        margin: 10px 0;
    }
}