<div class="awesome-block template-4 {{additionalclass}}" style="background-color: {{backgroundcolour}};">
  {{> block_awesome/image}}
  {{#url}}
    <a class="awesome-link" href="{{url}}" {{#newtab}} target="_blank" {{/newtab}} {{{link_styles}}}>{{linktext}}</a>
  {{/url}}
</div>