<a href="{{url}}" {{#newtab}}target="_blank"{{/newtab}}>
  <div class="awesome-block template-4 {{additionalclass}}" style="background-color: {{backgroundcolour}};">
    {{> block_awesome/image}}
    <span class="awesome-link" {{{link_styles}}}>{{linktext}}</span>
  </div>
</a>