<section id="carousel-{{id}}" class="recommended">
{{#slides}}
<a href="{{url}}">
    <article class="learning">
        <figure>
            <div class="figure-ratio">
                <div class="figure-ratio-image" style="background-image: url('{{{thumbnail}}}')"></div>
            </div>
            {{#caption}}<figcaption {{#learning_completed}} class="completed" {{/learning_completed}}>{{caption}}</figcaption>{{/caption}}
        </figure>

        <footer>
            <h3>{{title}}</h3>
            <label>{{description}}</label>
        </footer>
    </article>
</a>
{{/slides}}
</section>
{{#js}}
    require(['jquery', 'block_carousel/slick'], function($, slick) {
        const mainsettings = {
            infinite: false,
            speed: 300,
            slidesToShow: 5,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 1100,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 3,
                    }
                },
                {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 550,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }
            ]
        };

        let main = slick.init('#carousel-{{id}}', mainsettings);
        $('#carousel-{{id}} article.learning').css('width','100%');
    });
{{/js}}