<section id="carousel-{{id}}" class="{{carouseltype}} {{template}} {{cardsize}} alt-interactions">
    {{#slides}}
    <article class="learning {{#summary}} has-summary {{/summary}}" data-courseid="{{courseid}}"
        data-image_src="{{{thumbnail}}}">
        <figure class="tile" title="{{#str}} gotocourse, block_carousel {{/str}}">
            <div class="figure-ratio">
                <div class="figure-ratio-image" style="background-image: url('{{{thumbnail}}}')"></div>
            </div>
            {{{progressbar}}}
            <div class="custom-tags">
                {{#custom_fields}}
                <span class="custom-tag">{{.}}</span>
                {{/custom_fields}}
            </div>
            <div class="caption">
                <div class="title-wrap">
                    <div class="icon">
                        {{{icon}}}
                    </div>
                    <h3 class="ellipsis">{{title}}</h3>
                </div>
                <div class="summary">
                    {{summary}}
                </div>
            </div>
        </figure>
        {{#hidecardexpanddetails}}
        <span title="{{#str}} gotocourse, block_carousel {{/str}}"></span>
        {{/hidecardexpanddetails}}
        {{^hidecardexpanddetails}}
        <span class="toggle-card-details" title="{{#str}} showdetail, block_carousel {{/str}}"></span>
        {{/hidecardexpanddetails}}
    </article>
    {{/slides}}
</section>

<section id="carousel-nav-{{id}}" class="nav-slides {{carouseltype}} {{template}} {{cardsize}}">
    {{#slides}}
    <article class="learning-details">
        {{#thumbnail}}
        <img src="{{{thumbnail}}}" crossorigin="anonymous" class="hidden" />
        {{/thumbnail}}
        <button type="button" class="close-slide-details"><i class="far fa-times"></i></button>
        <div class="slide-details">
            <h2>{{{icon}}} <div class="ellipsis-details">{{fulltitle}}</div>
            </h2>
            <div class="custom-tags">{{#custom_fields_details}}<span class="custom-tag">{{.}}</span>{{/custom_fields_details}}{{{rating}}}</div>
            <div class="full-details">
                <div class="full-summary">
                    {{{fullsummary}}}
                </div>
                <div class="tags">
                    {{#tags}}
                    <span class="label label-info">{{.}}</span>
                    {{/tags}}
                </div>
                {{#displayinmodal}}
                <button type="button" class="carousel-launch-course btn btn-raised btn-red"
                    data-courseid="{{courseid}}">{{#str}} launch, block_carousel {{/str}}</button>
                {{/displayinmodal}}
                {{^displayinmodal}}
                <a class="btn btn-raised btn-red" href="{{{url}}}">{{#str}} gotoprogram, block_carousel {{/str}}</a>
                {{/displayinmodal}}
            </div>
        </div>
    </article>
    {{/slides}}
</section>

{{#js}}
require(['jquery', 'block_carousel/ellipsis', 'block_carousel/slick', 'block_carousel/colorthief',
'block_carousel/courselet'], function($, ellipsis, slick, colorthief, courselet) {
const mainsettings = {
asNavFor: '#carousel-nav-{{id}}',
slidesToShow: {{cardcount}},
slidesToScroll: 1,
centerMode: false,
focusOnSelect: true,
responsive: [
        {
            breakpoint: 1400,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
            }
        },
        {
            breakpoint: 1024,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 1,
            }
        },
        {
            breakpoint: 680,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1
            }
        }
    ]
};

const navsettings = {
slidesToShow: 1,
slidesToScroll: 1,
arrows: false,
fade: true,
draggable: false,
accessibility: false,
};

let nav = slick.init('#carousel-nav-{{id}}', navsettings);
let main = slick.init('#carousel-{{id}}', mainsettings);

nav.hide();

courselet.init();

$('#carousel-{{id}} article.learning').click(function(e){
nav.show();
$('#carousel-{{id}}').addClass('showing-details');
$(window).trigger('resize');
// Sometime the nav slides resize fails
// This is a fallback check
let track_width = $('#carousel-nav-{{id}} .slick-track').css('width');
if(track_width == '0px') {
$('#carousel-nav-{{id}} .slick-track').css('width', '100%');
$('#carousel-nav-{{id}} .slick-track .slick-slide.slick-active').css('width', '100%');
}

ellipsis.init('#carousel-nav-{{id}} article .ellipsis-details');
setTimeout(function() {
ellipsis.init('#carousel-nav-{{id}} article .ellipsis-details');
},1000);
});

$('#carousel-nav-{{id}} .close-slide-details' ).click(function(e){
nav.hide("fast");
$('#carousel-{{id}}').removeClass('showing-details');
$(window).trigger('resize');
});


$('#carousel-nav-{{id}} article').each(function (index) {
const imageUrl = $(this).find("img.hidden:first").attr('src');
const image = new Image();

image.onload = function () {
const colorThief = colorthief.init();
const primaryColor = colorThief.getColor(image);
var r = primaryColor[0],
g = primaryColor[1],
b = primaryColor[2];
// Take the RGB and convert that into the perceived brightness of the primary colour on a 0 - 1 scale.
// More info: https://stackoverflow.com/q/596216
const luminance = Math.sqrt((0.299 * r * r) + (0.587 * g * g) + (0.114 * b * b)) / 255;
$(this).addClass(luminance > 0.6 ? 'dark-text' : 'light-text');
const dominantColor = colorthief.rgbCode(primaryColor, 1);
$(this).css('background-image', 'linear-gradient(to right,' + dominantColor + ' 0% 15%, ' + dominantColor + ' 15% 58%,transparent 70% 100%), url(' + imageUrl + ')');
}.bind(this);
image.src = imageUrl;
});

ellipsis.init('#carousel-{{id}} article .ellipsis');
});
{{/js}}