<div id="{{likebuttonid}}" class="carousel-like {{liked}}" >
    <a class="like-button btn btn-default" href="{{likeurl}}">
        <i class="far fa-thumbs-up fa-lg"></i> Like
    </a>
    <a class="unlike-button btn btn-default" href="{{unlikeurl}}">
        <i class="fa fa-lg fa-thumbs-up"></i> Liked
    </a>
</div>